<h1>ユーザー編集</h1>

<%= form_tag("/users/#{@user.id}/update") do %>
    <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
        <%= message %>
    </div>
    <% end %>
  <p class="mb-0">ユーザー名</p>
  <input class="mb-3" type="text" name="name" value="<%= @user.name %>">
  <p class="mb-0">メールアドレス</p>
  <input class="mb-3" type="text"  name="email" value="<%= @user.email %>" size="30">
  <p><input type="submit" value="保存" class="btn btn-secondary btn-sm mb-3"></p>
<% end %>