<h1>新規ユーザー登録</h1>
<%= form_tag("/users/create") do %>
<p class="m-0">ユーザー名</p>
  <input name="name" value="<%= @user.name %>">
<p class="m-0">メールアドレス</p>
  <input name="email" value="<%= @user.email %>">
<p class="m-0">パスワード</p>
  <input type="password" name="password" value="<%= @user.password %>">
  <p><input type="submit" class="btn btn-success btn-sm mt-2" value="登録する"></p>
<% end %>