<h1>ユーザー詳細</h1>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<%= link_to("編集", "/users/#{@user.id}/edit") %>

<div class="d-flex flex-column">
	<% @user.posts.each do |post| %>
		<div class="card bg-light mb-1">
			<div class="card-body p-1">	
				<%= link_to(post.content, "/posts/#{post.id}", {class: "text-decoration-none"}) %>
			</div>
		</div>
	<% end %>
</div>
