<h1>ユーザー詳細</h1>
<p class="mb-0">ユーザー名</p>
<p class="mb-0"><%= @user.name %></p>
<p class="mb-0">メールアドレス</p>
<p class="mb-1"><%= @user.email %></p>
<% if @user.id == @current_user.id %>
  <%= link_to("ユーザー情報を編集", "/users/#{@user.id}/edit", {class: "btn btn-secondary btn-sm"}) %>
<% end %>
<p class="mt-5">投稿</p>
<div class="d-flex flex-column">
	<% @user.posts.each do |post| %>
		<div class="card bg-light mb-1">
			<div class="card-body p-1">	
				<%= link_to(post.content, "/posts/#{post.id}", {class: "text-decoration-none text-dark"}) %>
			</div>
		</div>
	<% end %>
</div>
