<h1>編集</h1>

<%= form_tag("/posts/#{@post.id}/update") do %>
    <% @post.errors.full_messages.each do |message| %>
    <div class="form-error">
        <%= message %>
    </div>
    <% end %>
  <textarea name="content"><%= @post.content %></textarea>
  <p><input type="submit" class="btn btn-primary btn-sm" value="投稿"></p>
<% end %>