<h1>詳細</h1>
<%= link_to(@user.name, "/users/#{@user.id}") %>
<p><%= @post.content %></p>
<%= link_to("編集", "/posts/#{@post.id}/edit") %>
<%= link_to("削除", "/posts/#{@post.id}/delete", {method: "post", data: {confirm: "本当に削除しますか"}}) %>